extend layouts/main
include mixin/videoBlock

block content
    .videos
        each item in videos
            +videoBlock({
                title: item.title,
                videoFile: item.videoFile,
                views: item.views
            })